.main {
    width: 45%;
    margin: 0 auto;
    text-align: center;
}

.profile-header, .form-container {
    margin: 0 20px;
}

.profile-image {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 150px;
    background-color: #f7f7f7;
    text-align: center;
    display: inline-block;
    margin: 15px 0;
}

.profile-image img {
    width: 75px;
    border-radius: 150px;
    vertical-align: middle;
}

.data-profile {
    text-align: left;
}

.data-profile > label {
    font-weight: 600;
}

.data-profile > input[type=text] {
    width: 100%;
    height: 35px;
    border: 1px solid #ccc;
    margin: 10px 0 20px;
    padding: 0 10px;
}

input[type=button] {
    width: 100px;
    height: 40px;
    border-radius: 3px;
    background-color: #d9da28;
    border: 2px solid #a4a524;
    font-weight: 600;
    cursor: pointer;
    margin: 0 10px;
}

input[type=button]:hover {
    background: #bebf2d;
}